In [6]:
import pandas as pd

df = pd.read_csv("./data/taco-db-nutrientes.csv", sep=",", encoding="utf-8", on_bad_lines="skip", index_col=0)
df.columns = df.columns.str.strip()
removidas = ['Umidade (%)', 'Energia (kcal)', 'Energia (kJ)', 'Cinzas (g)', 'Magnésio (mg)','Unnamed: 13']
df = df.drop(columns=removidas)

display(df.head())

,Nome,Proteína (g),Lipídeos (g),Colesterol (mg),Carboidrato (g),Fibra Alimentar (g),Cálcio (mg)
id,,,,,,,
1,Arroz integral cozido,2.6,1.0,NaN,25.8,2.7,5
2,Arroz integral cru,7.3,1.9,NaN,77.5,4.8,8
3,Arroz tipo 1 cozido,2.5,0.2,NaN,28.1,1.6,4
4,Arroz tipo 1 cru,7.2,0.3,NaN,78.8,1.6,4
5,Arroz tipo 2 cozido,2.6,0.4,NaN,28.2,1.1,3

In [7]:
for coluna in df.columns:
    print(f"Valores mais frequentes em '{coluna}':")
    print(df[coluna].value_counts().head())  # Exibe os 5 valores mais frequentes
    print("-" * 40)

Valores mais frequentes em 'Nome':
Nome
Arroz integral cozido                      1
 Frango caipira inteiro com pele cozido    1
 Frango coração cru                        1
 Frango coração grelhado                   1
 Frango coxa com pele assada               1
Name: count, dtype: int64
----------------------------------------
Valores mais frequentes em 'Proteína (g)':
Proteína (g)
 0.6    17
 0.9    17
 0.8    16
 1.1    14
 0.4    14
Name: count, dtype: int64
----------------------------------------
Valores mais frequentes em 'Lipídeos (g)':
Lipídeos (g)
 0.1    72
 0.2    45
 Tr     29
 0.3    23
 0.5    16
Name: count, dtype: int64
----------------------------------------
Valores mais frequentes em 'Colesterol (mg)':
Colesterol (mg)
 NA    322
 Tr      9
 73      7
 56      6
 80      6
Name: count, dtype: int64
----------------------------------------
Valores mais frequentes em 'Carboidrato (g)':
Carboidrato (g)
 0.0     149
 NA       10
 4.3       5
 11.5      5
 11.6      4
Name: count, dtype: int64
----------------------------------------
Valores mais frequentes em 'Fibra Alimentar (g)':
Fibra Alimentar (g)
 NA     219
 2.2     13
 1.0     11
 1.9     11
 2.0     11
Name: count, dtype: int64
----------------------------------------
Valores mais frequentes em 'Cálcio (mg)':
Cálcio (mg)
 4     34
 3     26
 6     24
 8     24
 12    20
Name: count, dtype: int64
----------------------------------------

In [8]:
# Substitui 'Tr', 'NA', etc. por zero (ou np.nan se quiser tratar depois)
colunas_nutricionais = [
    "Proteína (g)",
    "Lipídeos (g)",
    "Cálcio (mg)",
    "Carboidrato (g)",
    "Fibra Alimentar (g)"
]

df[colunas_nutricionais] = df[colunas_nutricionais].apply(lambda col: col.astype(str).str.strip())
df[colunas_nutricionais] = df[colunas_nutricionais].replace(['Tr', 'NA', 'NaN', 'nan', '','*'], 0)

for col in colunas_nutricionais:
    df[col] = pd.to_numeric(df[col], errors='coerce')

df[colunas_nutricionais] = df[colunas_nutricionais].fillna(0)

In [9]:

print("Valores nulos por coluna (NaN):")
print(df.isnull().sum())
print("\nNúmero de valores NaN por coluna:")
print(df.isna().sum()) 
print("\nDimensões do DataFrame (linhas, colunas):")
print(df.shape)
print("\nCabeçalho do DataFrame (nomes das colunas):")
print(df.head(0))

Valores nulos por coluna (NaN):
Nome                   0
Proteína (g)           0
Lipídeos (g)           0
Colesterol (mg)        6
Carboidrato (g)        0
Fibra Alimentar (g)    0
Cálcio (mg)            0
dtype: int64

Número de valores NaN por coluna:
Nome                   0
Proteína (g)           0
Lipídeos (g)           0
Colesterol (mg)        6
Carboidrato (g)        0
Fibra Alimentar (g)    0
Cálcio (mg)            0
dtype: int64

Dimensões do DataFrame (linhas, colunas):
(595, 7)

Cabeçalho do DataFrame (nomes das colunas):
Empty DataFrame
Columns: [Nome, Proteína (g), Lipídeos (g), Colesterol (mg), Carboidrato (g), Fibra Alimentar (g), Cálcio (mg)]
Index: []

In [ ]:
df.to_parquet("./data/taco-db-nutrientes.parquet", index=False)